<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="outline"
        routerLink="/properties">
        <ion-icon slot="start" name="star"></ion-icon>
      </ion-button>
      <ion-button routerLink="/home">
        <ion-icon slot="start" name="build"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-range [(ngModel)]="quantum"
      (ionChange)="quantumChange()"
      min="4" max="8" step="1">
      <ion-icon range-left small name="ios-grid-outline"></ion-icon>
      <ion-icon range-right name="grid"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range [(ngModel)]="columns"
       (ionChange)="columnsChange()"
       min="1" max="4" step="1">
      <ion-icon range-left small name="columns"></ion-icon>
      <ion-icon range-right name="columns"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range [(ngModel)]="gutter"
       (ionChange)="gutterChange()"
       min="1" max="5" step="1">
      <ion-icon range-left small name="gutter"></ion-icon>
      <ion-icon range-right name="gutter"></ion-icon>
    </ion-range>
  </ion-item>

  <!-- <div id="output" class="output">
    <div id="content">
      <div class="top-header">
        <div class="title">CSS Variables</div>
        <div class="shade"></div>
      </div> -->
      <div class="grid">
        <div class="cell" style="--primary-color: #F44336; --primary-color-text: #FFF;">
          <header class="cell-header">
            <div class="cell-title">
              Red
            </div>
          </header>
          <main class="cell-content">
            Click the buttons on the cards to set the default color scheme for the
            whole sample.
          </main>
          <div class="cell-actions">
            <button class="picker-button">
              Use this color
              <div class="ripple"></div>
            </button>
          </div>
        </div>
        <div class="cell" style="--primary-color: #E91E63; --primary-color-text: #FFF;">
          <header class="cell-header">
            <div class="cell-title">
              Pink
            </div>
          </header>
          <main class="cell-content">
            The colors on the cards are not affected because they're individually
            defined at the card level, and thus prioritised according to standard CSS
            rules.
          </main>
          <div class="cell-actions">
            <button class="picker-button">
              Use this color
              <div class="ripple"></div>
            </button>
          </div>
        </div>
        <div class="cell" style="--primary-color: #9C27B0; --primary-color-text: #FFF;">
          <header class="cell-header">
            <div class="cell-title">
              Purple
            </div>
          </header>
          <main class="cell-content">
            Use the controls above to adjust some properties that affect the entire
            page.
          </main>
          <div class="cell-actions">
            <button class="picker-button">
              Use this color
              <div class="ripple"></div>
            </button>
          </div>
        </div>
        <div class="cell" style="--primary-color: #00BCD4; --primary-color-text: #424242;">
          <header class="cell-header">
            <div class="cell-title">
              Cyan
            </div>
          </header>
          <main class="cell-content">
            Every size on the page is calculated as a multiple of the spacing unit,
            so setting the property to a different value resizes all elements.
          </main>
          <div class="cell-actions">
            <button class="picker-button">
              Use this color
              <div class="ripple"></div>
            </button>
          </div>
        </div>
        <div class="cell" style="--primary-color: #009688; --primary-color-text: #FFF;">
          <header class="cell-header">
            <div class="cell-title">
              Teal
            </div>
          </header>
          <main class="cell-content">
            Changing the number of columns is done by recalculating the relative size
            of cells on the grid.
          </main>
          <div class="cell-actions">
            <button class="picker-button">
              Use this color
              <div class="ripple"></div>
            </button>
          </div>
        </div>
        <div class="cell" style="--primary-color: #4CAF50; --primary-color-text: #424242;">
          <header class="cell-header">
            <div class="cell-title">
              Green
            </div>
          </header>
          <main class="cell-content">
            Margins adjusts both the spacing around the grid and the gutters inside of
            it.
          </main>
          <div class="cell-actions">
            <button class="picker-button">
              Use this color
              <div class="ripple"></div>
            </button>
          </div>
        </div>
      </div>
      <!-- </div>
    <div id="status"></div>
    <pre id="log"></pre>
  </div> -->
</ion-content>
